extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    form(action='api/users/login', method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='email') email
            input(id='email',type='text',value='',placeholder='Email',name='email')
      div(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='password') password
            input(id='password',type='text',value='',placeholder='',name='password')
      div(data-role='fieldcontain')
        input(type='submit',value='Log in',data-transition='fade', data-theme='c')
