extends layout

block content
  h1= title
  div
    form(action='api/users', method='post', enctype='application/x-www-form-urlencoded')
      input(type='hidden', name='_method', value='put')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='name') name
            input(id='name',type='text',value='',placeholder='Name',name='name')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='lastname') lastname
            input(id='lastname',type='text',value='',placeholder='Lastname',name='lastname')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='email') email
            input(id='email',type='text',value='',placeholder='Email',name='email')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='password') password
            input(id='password',type='password',value='',placeholder='Password',name='password')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='password2') password
            input(id='password2',type='password',value='',placeholder='Password',name='password2')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='username') username
            input(id='username',type='text',value='',placeholder='Username',name='username')
      div(data-role='fieldcontain')
        input(type='submit',value='Update user',data-transition='fade', data-theme='c')
